<!DOCTYPE html>
<html>
	<head>
		<meta charset="EUC-KR">
		<title>Learning Node.js & Three.js</title>
		<link rel="stylesheet" type="text/css" href="../public/css/index.css">
		<script src="/public/js/jquery/jquery-3.1.1.min.js"></script>
		<script src="/public/js/three/three.js"></script>
        <script src="/public/js/three/libs/stats.min.js"></script>
	</head>
	<body>
	<div id="scoreBoard"></div>
		<script>
			var _scene = new THREE.Scene();
			var _camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);
			var _renderer = new THREE.WebGLRenderer();

			var _stats;
			var _oldPlane, _newPlane, _sphere1, _sphere2;

        	var _planeSpeed = 1;
			var _wheelSpeed = 0.1;
			var _planeGeom = new THREE.PlaneGeometry(150, 33, 1, 1);
			var _planeMaterial = new THREE.MeshLambertMaterial({color:0xcccccc, wireframe:true, shading: THREE.FlatShading});

			var _carGroup = new THREE.Group();
			var _coinGroup = new THREE.Group();

            init();
            render(); 
			function init(){
				//Renderer
				_renderer.setClearColor(0xEEEEEE, 1.0);
				_renderer.setSize(window.innerWidth, window.innerHeight);
				_renderer.shadowMap.enabled = true;

				//Axes
				let axes = new THREE.AxesHelper(20);
				_scene.add(axes);


                //Light Setting
            	let directionalLight = new THREE.DirectionalLight( 0xffffff );
                directionalLight.position.x = 5; 
                directionalLight.position.y = 20; 
                directionalLight.position.z = 5; 
                directionalLight.position.normalize();
                _scene.add( directionalLight );
				
				//Road
				_oldPlane = new THREE.Mesh(_planeGeom, _planeMaterial);
				_oldPlane.rotation.x = -0.5 * Math.PI;
				_oldPlane.position.x = 30;
				_oldPlane.position.y = 0;
				_oldPlane.position.z = 0;
				_oldPlane.receiveShadow = true;
				_scene.add(_oldPlane);

				//Car
				createCar();
				
				//Coin
                addCoin();
				
				//Camera
				_camera.position.x = -30;
				_camera.position.y = 40;
				_camera.position.z = 30;
				_camera.lookAt(_scene.position);
				
				//Renderer Target
				document.body.appendChild(_renderer.domElement);
				
				//Stats
                _stats = new Stats();
                _stats.domElement.style.position = 'absolute';
                _stats.domElement.style.top = '0px';
                _stats.domElement.style.zIndex = 100;
                //Stats Target
                document.body.appendChild(_stats.domElement);
                
                //event
                window.addEventListener('keydown', function(event){ keyDownHandler(event); });	//keydown event
                window.addEventListener('resize', onWindowResize, false );					//window resize event
			}

        	function render(){
                requestAnimationFrame( render );

                defaultMove();
                _stats.update();
                _renderer.render( _scene, _camera );
        	}
        	
        	function defaultMove(){
        		_coin1.rotation.z += 0.2;
        		_coin2.rotation.z += 0.2;
        		_coin3.rotation.z += 0.2;

        		_coin1.position.x -= _planeSpeed;
        		_coin2.position.x -= _planeSpeed;
        		_coin3.position.x -= _planeSpeed;
        		
        		_sphere1.rotation.y += _wheelSpeed;
        		_sphere2.rotation.y += _wheelSpeed;
				_oldPlane.position.x -= _planeSpeed;
				if(_newPlane){
					_newPlane.position.x -= _planeSpeed;
					if(_newPlane.position.x==29){
						_scene.remove(_oldPlane);
						_oldPlane = new THREE.Mesh(_planeGeom, new THREE.MeshLambertMaterial({color:0x003b9b, shading: THREE.FlatShading}));
						_oldPlane.rotation.x = -0.5 * Math.PI;
						_oldPlane.position.x = 179;
						_oldPlane.position.y = 0;
						_oldPlane.position.z = 0;
						_oldPlane.receiveShadow = true;
						_scene.add(_oldPlane);
					}
				}
				if(_oldPlane.position.x==29){
					if(_newPlane){
						_scene.remove(_newPlane);
					}
					_newPlane = new THREE.Mesh(_planeGeom, new THREE.MeshLambertMaterial({color:0x9b4300, shading: THREE.FlatShading}));
					_newPlane.rotation.x = -0.5 * Math.PI;
					_newPlane.position.x = 179;
					_newPlane.position.y = 0;
					_newPlane.position.z = 0;
					_newPlane.receiveShadow = true;
					_scene.add(_newPlane);
				} 
			}

        	var _coin1, _coin2, _coin3;
        	//x:red y:green z:blue
        	function addCoin(){
        		let geometry = new THREE.CylinderGeometry(2, 2, 1, 20 );
        		let material = new THREE.MeshLambertMaterial( {color: 0xf9eb4a, shading: THREE.FlatShading} );
        		_coin1 = new THREE.Mesh( geometry, material );
        		_coin2 = new THREE.Mesh( geometry, material );
        		_coin3 = new THREE.Mesh( geometry, material );
        		_coin1.rotation.x = -0.5 * Math.PI;
        		_coin1.position.y = 2;
        		_coin1.position.z = -10;
        		_coin2 = new THREE.Mesh( geometry, material );
        		_coin2.rotation.x = -0.5 * Math.PI;
        		_coin2.position.y = 2;
        		_coin2.position.z = 1;
        		_coin3 = new THREE.Mesh( geometry, material );
        		_coin3.rotation.x = -0.5 * Math.PI;
        		_coin3.position.y = 2;
        		_coin3.position.z = 12;
        		/* _coinGroup.add(_coin1);
        		_coinGroup.add(_coin2);
        		_coinGroup.add(_coin3); */
        		_coin1.position.x =100;
        		_coin2.position.x =100;
        		_coin3.position.x =100;
        		_scene.add(_coin1);
        		_scene.add(_coin2);
        		_scene.add(_coin3);
        	}
        	
        	
        	function createCar(){
        		//2
        		let geometry = new THREE.CylinderGeometry(1, 1, 1, 20 );
				let material = new THREE.MeshLambertMaterial( {color: 0xffffff, wireframe: true, shading: THREE.FlatShading} );
				_sphere1 = new THREE.Mesh( geometry, material );
				_sphere2 = new THREE.Mesh( geometry, material );
				_sphere1.rotation.x = -0.5 * Math.PI;
				_sphere2.rotation.x = -0.5 * Math.PI;
				_sphere1.position.x = 3;
				_sphere1.position.z = 2;
				_sphere2.position.x = -3;
				_sphere2.position.z = 2;
				
				_carGroup.add(_sphere1);			
				_carGroup.add(_sphere2);			

        		geometry = new THREE.BoxGeometry(10,2,4 );
				material = new THREE.MeshLambertMaterial( {color: 0xff0000, shading: THREE.FlatShading} );
				let b1 = new THREE.Mesh( geometry, material );
        		geometry = new THREE.BoxGeometry(5,2,4 );
        		let b2 = new THREE.Mesh( geometry, material );
				b1.position.y=1;
				b2.position.y=3;
				_carGroup.add(b1);
				_carGroup.add(b2);
				_carGroup.position.y=2;
				_carGroup.position.x=-13;
				_carGroup.position.z=3;
				b1.castShadow = true;
				b2.castShadow = true;
				_carGroup.castShadow = true;
				_scene.add( _carGroup );
        	}

        	function keyDownHandler(event){
        		switch(event.keyCode){
	        		case 39:
	            		if(_carGroup.position.z<13){
	        				_carGroup.position.z += 10;
	            		}
        			break;
	        		case 37:
	        			if(_carGroup.position.z>0){
	        				_carGroup.position.z -= 10;
	        			}
        			break;
        		}
        	}

        	function onWindowResize(){
        	    _camera.aspect = window.innerWidth / window.innerHeight;
        	    _camera.updateProjectionMatrix();

        	    _renderer.setSize( window.innerWidth, window.innerHeight );
        	}
		</script>
	</body>
</html>