<!DOCTYPE html>
<html>
	<head>
		<meta charset="EUC-KR">
		<title>Learning Node.js & Three.js</title>
		<link rel="stylesheet" type="text/css" href="../public/css/index.css">
		<script src="/public/js/jquery/jquery-3.1.1.min.js"></script>
		<script src="/public/js/three/three.js"></script>
        <script src="/public/js/three/libs/stats.min.js"></script>
	</head>
	<body>
	<div id="scoreBoard" style="position:absolute;z-index:100000;top:0px;right:0px;width:100px;height:50px;background-color:white;"></div>
	<div id="gameOver" style="position:absolute;z-index:100000;top:45%;left:45%;width:100px;height:30px;background:rgba(255, 0, 0, 0.0);display:none;"><font color="red" style="font-weight: bold;font-size: 50px;">Game Over</font></div>
		<script>
			var _scene = new THREE.Scene();
			var _camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);
			var _renderer = new THREE.WebGLRenderer();

			var _stats;
			var _oldPlane, _newPlane, _sphere1, _sphere2;

        	var _planeSpeed = 1;
			var _wheelSpeed = 0.1;
			var _planeGeom = new THREE.PlaneGeometry(155, 33, 1, 1);
			var _planeMaterial = new THREE.MeshLambertMaterial({color:0xcccccc, wireframe:true, flatShading :true});

			var _carGroup = new THREE.Group();
			var _coinGroup = new THREE.Group();
			var _carBox = new THREE.Box3();

			var _bombNumber=0;
			var _coinNumber=0;
        	var _positionZ = [-10,1,12];
       
			var _score = 0;

			var _frustum = new THREE.Frustum();
			var _cameraViewProjectionMatrix = new THREE.Matrix4();
			var _interval = setInterval(function(){ 
             	_planeSpeed = parseFloat((_planeSpeed + 0.1).toFixed(2));
            }, 1000);
            init();
            render(); 
			function init(){
				//Renderer
				_renderer.setClearColor(0xEEEEEE, 1.0);
				_renderer.setSize(window.innerWidth, window.innerHeight);
				_renderer.shadowMap.enabled = true;

				//Axes
				/* let axes = new THREE.AxesHelper(20);
				_scene.add(axes); */

                //Light Setting
            	let directionalLight = new THREE.DirectionalLight( 0xffffff );
                directionalLight.position.x = 5; 
                directionalLight.position.y = 20; 
                directionalLight.position.z = 5; 
                directionalLight.position.normalize();
                _scene.add( directionalLight );
				
				//Road1
				_oldPlane = new THREE.Mesh(_planeGeom, _planeMaterial);
				_oldPlane.rotation.x = -0.5 * Math.PI;
				_oldPlane.position.x = 55;
				_oldPlane.position.y = 0;
				_oldPlane.position.z = 0;
				_oldPlane.receiveShadow = true;
				_oldPlane.name = "road";
				_scene.add(_oldPlane);
				//Road2
				_newPlane = new THREE.Mesh(_planeGeom, new THREE.MeshLambertMaterial({color:0x9b4300, wireframe:true, flatShading :true}));
				_newPlane.rotation.x = -0.5 * Math.PI;
				_newPlane.position.x = 210;
				_newPlane.position.y = 0;
				_newPlane.position.z = 0;
				_newPlane.receiveShadow = true;
				_newPlane.name = "road";
				_scene.add(_newPlane);
				
				//Car
				fn_createCar();
				
				//Block(Bomb, Coin)
				fn_addBlock();
				
				//Camera
				_camera.position.x = -30;
				_camera.position.y = 40;
				_camera.position.z = 30;
				_camera.lookAt(_scene.position);				
				_camera.updateMatrixWorld();
				_camera.matrixWorldInverse.getInverse( _camera.matrixWorld );
				_cameraViewProjectionMatrix.multiplyMatrices( _camera.projectionMatrix, _camera.matrixWorldInverse );
				_frustum.setFromMatrix( _cameraViewProjectionMatrix );
				
				//Renderer Target
				document.body.appendChild(_renderer.domElement);
				
				//Stats
                _stats = new Stats();
                _stats.domElement.style.position = 'absolute';
                _stats.domElement.style.top = '0px';
                _stats.domElement.style.zIndex = 100;
                
                //Stats Target
                document.body.appendChild(_stats.domElement);
                
                //event
                window.addEventListener('keydown', function(event){ fn_keyDownHandler(event); });	//keydown event
                window.addEventListener('resize', fn_onWindowResize, false );					//window resize event
                var filter = "win16|win32|win64|mac";
                if(navigator.platform){
	                if(0 > filter.indexOf(navigator.platform.toLowerCase())){
	                	//Mobile
	                }
                }
			}
			
        	function render(){
        		if(document.getElementById("gameOver").style.display=="none"){
                	requestAnimationFrame( render );
                    document.getElementById("scoreBoard").innerHTML = "Score : " + _score +"<br/>Speed : " + _planeSpeed;
                    fn_defaultMove();
                    _stats.update();
                    _renderer.render( _scene, _camera );
        		}
        	}
        	
        	function fn_defaultMove(){
        		for(let obj of _scene.children){
        			if(obj.name == "coin" || obj.name == "bomb"){ 
        				if(!_frustum.intersectsObject(obj) && obj.userData.intersect){
        					_scene.remove(obj);
        				}
        				if(_frustum.intersectsObject(obj)){
        					obj.userData.intersect = true;
        				}
        				if(obj.name == "coin"){ obj.rotation.z += 0.2; }
        				obj.position.x -= _planeSpeed;
	    				if(_carBox.intersectsBox(new THREE.Box3().setFromObject(obj))){
	    					if(obj.name == "bomb"){
	    						document.getElementById("gameOver").style.display = "block";
		        			    clearInterval(_interval);
	    					}else{
			        			_scene.remove(obj);
								_score += 10;
	    					}
	    				}
        			}
        		}
        		
        		//Wheel Spin
        		_sphere1.rotation.y += _wheelSpeed;
        		_sphere2.rotation.y += _wheelSpeed;
        		
        		//Road Move
				_oldPlane.position.x -= _planeSpeed;
				_newPlane.position.x -= _planeSpeed;
				
				if(!_frustum.intersectsObject(_oldPlane)){
					_scene.remove(_oldPlane);
					fn_addBlock();
					_oldPlane = new THREE.Mesh(_planeGeom, new THREE.MeshLambertMaterial({color:0x003b9b, wireframe:true, flatShading : true}));
					_oldPlane.rotation.x = -0.5 * Math.PI;
					_oldPlane.position.x = 155 + _newPlane.position.x;
					_oldPlane.position.y = 0;
					_oldPlane.position.z = 0;
					_oldPlane.receiveShadow = true;
					_oldPlane.name = "road";
					_scene.add(_oldPlane);
				}
				if(!_frustum.intersectsObject(_newPlane)){
					_scene.remove(_newPlane);
					fn_addBlock();
					_newPlane = new THREE.Mesh(_planeGeom, new THREE.MeshLambertMaterial({color:0x9b4300, wireframe:true, flatShading : true}));
					_newPlane.rotation.x = -0.5 * Math.PI;
					_newPlane.position.x = 155 + _oldPlane.position.x;
					_newPlane.position.y = 0;
					_newPlane.position.z = 0;
					_newPlane.receiveShadow = true;
					_newPlane.name = "road";
					_scene.add(_newPlane);
				}
			}
        	//x:red y:green z:blue.
        	function fn_addBlock(){
        		let randomBomb = Math.round(Math.random() * 1) + 1;	//Bomb Count
        		let randomCoin = 3 - randomBomb;					//Coin Count
        		let bombGeometry = new THREE.BoxGeometry(4, 4, 4);
        		let bombMaterial = new THREE.MeshLambertMaterial({color: 0xff0000, flatShading :true});
        		let coinGeometry = new THREE.CylinderGeometry(2, 2, 1, 20 );
        		let coinMaterial = new THREE.MeshLambertMaterial({color: 0xf9eb4a, flatShading :true});
        		var arrayBlock=[];
        		for(let i=0; i<3; i++){
        			arrayBlock[i] = Math.round(Math.random() * 2); 		
        			for(let j=0; j<i; j++){
        				if(arrayBlock[i] == arrayBlock[j]){
        					i -= 1;
        					break;
        				}
        			}
        		}
        		let block;
        		for(let i=0; i<3; i++){
        			if(i<randomBomb){
        				block = new THREE.Mesh(bombGeometry, bombMaterial);
        				block.name = "bomb";
        			}else{
        				block = new THREE.Mesh(coinGeometry, coinMaterial);
        				block.rotation.x = -0.5 * Math.PI;
        				block.name = "coin";
        			}
    				block.position.y = 2;
    				block.position.z = _positionZ[arrayBlock[i]];
    				block.position.x = 105;
    				block.userData = {intersect : false};
            		_scene.add(block);
        		}
        	}
			
        	function fn_createCar(){
        		//2
        		let geometry = new THREE.CylinderGeometry(1, 1, 1, 20);
				let material = new THREE.MeshLambertMaterial({color: 0xffffff, wireframe: true, flatShading :true});
				_sphere1 = new THREE.Mesh(geometry, material);
				_sphere2 = new THREE.Mesh(geometry, material);
				_sphere1.rotation.x = -0.5 * Math.PI;
				_sphere2.rotation.x = -0.5 * Math.PI;
				_sphere1.position.x = 3;
				_sphere1.position.z = 2;
				_sphere2.position.x = -3;
				_sphere2.position.z = 2;
				
				_carGroup.add(_sphere1);			
				_carGroup.add(_sphere2);			

        		geometry = new THREE.BoxGeometry(10, 2, 4);
				material = new THREE.MeshLambertMaterial({color: 0xff0000, flatShading :true});
				let b1 = new THREE.Mesh(geometry, material);
        		geometry = new THREE.BoxGeometry(5, 2, 4);
        		let b2 = new THREE.Mesh(geometry, material);
				b1.position.y = 1;
				b2.position.y = 3;
				_carGroup.add(b1);
				_carGroup.add(b2);
				_carGroup.position.y = 2;
				_carGroup.position.x = -13;
				_carGroup.position.z = 3;
				b1.castShadow = true;
				b2.castShadow = true;
				_carGroup.castShadow = true;
				_carBox.setFromObject(_carGroup);
				_carGroup.name = "car";
				_scene.add( _carGroup );
        	}

        	function fn_keyDownHandler(event){
        		switch(event.keyCode){
	        		case 39:
	            		if(_carGroup.position.z<13){
	        				_carGroup.position.z += 10;
	            		}
        			break;
	        		case 37:
	        			if(_carGroup.position.z>0){
	        				_carGroup.position.z -= 10;
	        			}
        			break;
        		}
    			_carBox.setFromObject(_carGroup);
        	}

        	function fn_onWindowResize(){
        	    _camera.aspect = window.innerWidth / window.innerHeight;
        	    _camera.updateProjectionMatrix();

        	    _renderer.setSize( window.innerWidth, window.innerHeight );
        	}
		</script>
	</body>
</html>