<!DOCTYPE html>
<html>
	<head>
		<meta charset="EUC-KR">
		<title>Learning Node.js & Three.js</title>
		<link rel="stylesheet" type="text/css" href="../public/css/index.css">
		<script src="/public/js/jquery/jquery-3.1.1.min.js"></script>
		<script src="/public/js/three/three.js"></script>
        <script src="/public/js/three/libs/stats.min.js"></script>
	</head>
	<body>
	<div id="scoreBoard" style="position:absolute;z-index:100000;top:0px;right:0px;width:100px;height:30px;background-color:white;"></div>
	<div id="gameOver" style="position:absolute;z-index:100000;top:45%;left:45%;width:100px;height:30px;background:rgba(255, 0, 0, 0.0);display:none;"><font color="red" style="font-weight: bold;font-size: 50px;">Game Over</font></div>
		<script>
			var _scene = new THREE.Scene();
			var _camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);
			var _renderer = new THREE.WebGLRenderer();

			var _stats;
			var _oldPlane, _newPlane, _sphere1, _sphere2;

        	var _planeSpeed = 1;
			var _wheelSpeed = 0.1;
			var _planeGeom = new THREE.PlaneGeometry(150, 33, 1, 1);
			var _planeMaterial = new THREE.MeshLambertMaterial({color:0xcccccc, wireframe:true, shading: THREE.FlatShading});

			var _carGroup = new THREE.Group();
			var _coinGroup = new THREE.Group();
			var _carBox = new THREE.Box3();

			var _bombNumber=0;
			var _coinNumber=0;
        	var _positionZ = [-10,1,12];
       
			var _score = 0;
            init();
            render(); 
			function init(){
				//Renderer
				_renderer.setClearColor(0xEEEEEE, 1.0);
				_renderer.setSize(window.innerWidth, window.innerHeight);
				_renderer.shadowMap.enabled = true;

				//Axes
				let axes = new THREE.AxesHelper(20);
				_scene.add(axes);


                //Light Setting
            	let directionalLight = new THREE.DirectionalLight( 0xffffff );
                directionalLight.position.x = 5; 
                directionalLight.position.y = 20; 
                directionalLight.position.z = 5; 
                directionalLight.position.normalize();
                _scene.add( directionalLight );
				
				//Road
				_oldPlane = new THREE.Mesh(_planeGeom, _planeMaterial);
				_oldPlane.rotation.x = -0.5 * Math.PI;
				_oldPlane.position.x = 30;
				_oldPlane.position.y = 0;
				_oldPlane.position.z = 0;
				_oldPlane.receiveShadow = true;
				_scene.add(_oldPlane);

				//Car
				createCar();
				
				//Coin
                addCoin();
				
				//Bomb
				addBomb();
				
				//Camera
				_camera.position.x = -30;
				_camera.position.y = 40;
				_camera.position.z = 30;
				_camera.lookAt(_scene.position);
				
				//Renderer Target
				document.body.appendChild(_renderer.domElement);
				
				//Stats
                _stats = new Stats();
                _stats.domElement.style.position = 'absolute';
                _stats.domElement.style.top = '0px';
                _stats.domElement.style.zIndex = 100;
                
                //Stats Target
                document.body.appendChild(_stats.domElement);
                
                //event
                window.addEventListener('keydown', function(event){ keyDownHandler(event); });	//keydown event
                window.addEventListener('resize', onWindowResize, false );					//window resize event
                
                //setInterval(function(){ _planeSpeed += 1; }, 1500);
			}

        	function render(){
				var boolRender = false;;
        		for(let i=0;i<_bombNumber;i++){
        			let object = _scene.getObjectByName( "bomb" + i, true );
        			if(object){
        				object.rotation.z += 0.2;
        				object.position.x -= _planeSpeed;
    	        		if(_carBox.intersectsBox(new THREE.Box3().setFromObject(object))){
            				document.getElementById("gameOver").style.display = "block";
            				boolRender = false;
    					}else{
    						boolRender = true;
    					}
        			}
        		}
        		if(document.getElementById("gameOver").style.display=="none"){
                	requestAnimationFrame( render );
                    document.getElementById("scoreBoard").innerHTML = _score;
                    defaultMove();
                    _stats.update();
                    _renderer.render( _scene, _camera );
        		}
        	}
        	
        	function defaultMove(){
        		for(let i=0;i<_coinNumber;i++){
        			let object = _scene.getObjectByName( "coin" + i, true );
        			if(object){
        				object.rotation.z += 0.2;
        				object.position.x -= _planeSpeed;
    	        		if(_carBox.intersectsBox(new THREE.Box3().setFromObject(object))){
    	        			_scene.remove(object);
    						_score++;
    					}
        			}
        		}
        		_sphere1.rotation.y += _wheelSpeed;
        		_sphere2.rotation.y += _wheelSpeed;
				_oldPlane.position.x -= _planeSpeed;

				
				if(_newPlane){
					_newPlane.position.x -= _planeSpeed;
					if(_newPlane.position.x==29){
						_scene.remove(_oldPlane);
						_oldPlane = new THREE.Mesh(_planeGeom, new THREE.MeshLambertMaterial({color:0x003b9b, shading: THREE.FlatShading}));
						_oldPlane.rotation.x = -0.5 * Math.PI;
						_oldPlane.position.x = 179;
						_oldPlane.position.y = 0;
						_oldPlane.position.z = 0;
						_oldPlane.receiveShadow = true;
						addCoin();
						addBomb();
						_scene.add(_oldPlane);
					}
				}
				if(_oldPlane.position.x==29){
					if(_newPlane){
						console.log(_scene);
						_scene.remove(_newPlane);
					}
					_newPlane = new THREE.Mesh(_planeGeom, new THREE.MeshLambertMaterial({color:0x9b4300, shading: THREE.FlatShading}));
					_newPlane.rotation.x = -0.5 * Math.PI;
					_newPlane.position.x = 179;
					_newPlane.position.y = 0;
					_newPlane.position.z = 0;
					_newPlane.receiveShadow = true;
					addCoin();
					addBomb();
					_scene.add(_newPlane);
				} 
			}
        	//x:red y:green z:blue.
        	function addCoin(){
        		let random = Math.round(Math.random() * 2);
        		let geometry = new THREE.CylinderGeometry(2, 2, 1, 20 );
        		let material = new THREE.MeshLambertMaterial( {color: 0xf9eb4a, shading: THREE.FlatShading} );
        		let coin = new THREE.Mesh( geometry, material );
        		coin.rotation.x = -0.5 * Math.PI;
        		coin.position.y = 2;
        		coin.position.z = _positionZ[random];
        		coin.name = "coin" + _coinNumber;
        		coin.position.x = 250;
        		_coinNumber++;
        		_scene.add(coin);
        	}
			
        	function addBomb(){
        		let random = Math.round(Math.random() * 2);
                
        		let geometry = new THREE.BoxGeometry(4,4,4);
        		let material = new THREE.MeshLambertMaterial( {color: 0xff0000, shading: THREE.FlatShading} );
        		let bomb = new THREE.Mesh( geometry, material );
        		bomb.rotation.x = -0.5 * Math.PI;
        		bomb.position.y = 2;
        		bomb.position.z = _positionZ[random];
        		bomb.position.x =250;
        		bomb.name = "bomb" + _bombNumber;
        		_bombNumber++;
        		_scene.add(bomb);
        	}
        	
        	
        	function createCar(){
        		//2
        		let geometry = new THREE.CylinderGeometry(1, 1, 1, 20 );
				let material = new THREE.MeshLambertMaterial( {color: 0xffffff, wireframe: true, shading: THREE.FlatShading} );
				_sphere1 = new THREE.Mesh( geometry, material );
				_sphere2 = new THREE.Mesh( geometry, material );
				_sphere1.rotation.x = -0.5 * Math.PI;
				_sphere2.rotation.x = -0.5 * Math.PI;
				_sphere1.position.x = 3;
				_sphere1.position.z = 2;
				_sphere2.position.x = -3;
				_sphere2.position.z = 2;
				
				_carGroup.add(_sphere1);			
				_carGroup.add(_sphere2);			

        		geometry = new THREE.BoxGeometry(10,2,4 );
				material = new THREE.MeshLambertMaterial( {color: 0xff0000, shading: THREE.FlatShading} );
				let b1 = new THREE.Mesh( geometry, material );
        		geometry = new THREE.BoxGeometry(5,2,4 );
        		let b2 = new THREE.Mesh( geometry, material );
				b1.position.y=1;
				b2.position.y=3;
				_carGroup.add(b1);
				_carGroup.add(b2);
				_carGroup.position.y=2;
				_carGroup.position.x=-13;
				_carGroup.position.z=3;
				b1.castShadow = true;
				b2.castShadow = true;
				_carGroup.castShadow = true;
				_carBox.setFromObject(_carGroup);
				_scene.add( _carGroup );
        	}

        	function keyDownHandler(event){
        		switch(event.keyCode){
	        		case 39:
	            		if(_carGroup.position.z<13){
	        				_carGroup.position.z += 10;
	            		}
        			break;
	        		case 37:
	        			if(_carGroup.position.z>0){
	        				_carGroup.position.z -= 10;
	        			}
        			break;
        		}
    			_carBox.setFromObject(_carGroup);
        	}

        	function onWindowResize(){
        	    _camera.aspect = window.innerWidth / window.innerHeight;
        	    _camera.updateProjectionMatrix();

        	    _renderer.setSize( window.innerWidth, window.innerHeight );
        	}
		</script>
	</body>
</html>